;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "0.8.1"]
  [com.taoensso/timbre "4.10.0"]
  [org.clojure/core.async "0.4.500"]]

 :dev-http {8080 "target/"}
 :builds {:cljs-template {:output-dir "public/"
                         :asset-path "."
                         :target :browser
                         :modules {:main {:init-fn main/main!}}
                         :devtools {:after-load main/reload!
                                    :http-root "public"
                                    :http-port 8080}}}}
